.displayComics {
  img {
    width: 100%;
  }
  p {
    position: absolute;
    color: #fff;
    background-color: #0e0e0ecc;
    bottom: -6%;
    font-size: 24px;
  }
}

#Comics__comic-book-wrapper {
  padding: 0px;
  margin: 10px;
}

