.Add{
    position: relative;
    button{
        position: absolute;
        bottom: 8rem;
        left: 5%;
        margin-bottom: 10px;
        width: 90%;
        border-radius: 14px;
        border: none;
        background-color: lightblue;
        color: white;
    }
}